.container {
  background-color: #fcfcfc;

  height: 100vh;
}
.mainContainer {
  padding-top: 120px;

  position: relative;
}

.weddingText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
}

.imgWrap {
  display: flex;
  justify-content: center;
}

.border {
  border: 4px solid rgb(43, 43, 43);
  padding: 6px 6px 4px;
}

.mainImg {
  object-fit: cover;
}
